.container {
    position: relative;
}

#imageCanvas,
#outputCanvas {
    position: absolute;
    z-index: 500;
}

#outputCanvas {
    z-index: 999;
    pointer-events: none;
}

#mapCanvas {
    display: none;
}


#x_ratio,
#Y_ratio {
    margin: 2rem 0 2rem 0;
}